.bc{
    background-color: darkslategrey;
}
.font{
    font-family: "Brush Script MT", cursive;;
}
.rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 50px;
  }